
song_lists{
    font-family: Arial;
}

song_list{
    box-sizing: border-box;
    display : block;
    border-bottom:  10px double;
}
cover_name{
    font-size: 30px;
    font-weight : bold;
}

song {
    font-size: 20px;
    display : block;
    border-bottom: 2px dotted;
}

artist::before{
    content: "Artist(s)/Band: ";
    font-size: 20px;
    font-weight : bold;
}

title::before{
    content: "Song Title: ";
    font-size: 20px;
    font-weight : bold;
}

genre::before{
    content: "Genre: ";
    font-size: 20px;
    font-weight : bold;
}

release_year::before{
    content: "Release Year: ";
    font-size: 20px;
    font-weight : bold;
}

artist,genre,release_year,title{
    display : block;
}
