h1,h2,h3,h4,h5,h6,div{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 600;
}

h1{
	color:#eb8181;
}

h2{
	color:#df9f9f;
}

p{
	font-size: 20px;
}


body{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin-left: 10%;
	margin-right: 10%;
}